/* 
.container{
    margin: 0;
    width: 100%;
    flex-direction: row;
} */

.profile-card {
    width: 100%;
    max-width: 100%;
  }

  button_service {
    max-width: 60px;
    height: 20px;
  }
  